.theme-dark {
    background-color: #163121;
    color: #C4FDC4;
}

.theme-medium {
    color: #537E3A;
}

.theme-text-light {
    color: #C4FDC4 !important;
}

.theme-text-medium {
    color: #537E3A !important;
}

.theme-text-dark {
    color: #163121 !important;
}
