:root {
    --mydarkgreen: #0D2715;
    --mymediumgreen: #537E3A;
    --mylightgreen: #C4FDC4;
    --mylotuspink: #FF85D4;
    --myskyblue: #5adbff;
    --bs-primary: #537E3A;
}

.btn-my-green {
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--mylightgreen);
    --bs-btn-bg: var(--mydarkgreen);
    --bs-btn-border-color: var(--mymediumgreen);
    --bs-btn-hover-color: var(--mymediumgreen);
    --bs-btn-hover-bg: lighten(var(--mymediumgreen), 10%);
    --bs-btn-hover-border-color: lighten(var(--mymediumgreen), 10%);
    --bs-btn-focus-shadow-rgb: var(--mymediumgreen);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: lighten(var(--mymediumgreen), 20%);
    --bs-btn-active-border-color: #lighten(var(--mymediumgreen), 20%);
}

.btn-purple {
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet);
    --bs-btn-border-color: var(--bd-violet);
    --bs-btn-border-radius: .5rem;
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
    --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
    --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
}

.btn-primary:hover {
    background-color: #537E3A !important;
}

a {
    color: var(--mylightgreen);
    text-decoration: underline;
}

a:hover {
    color: var(--mylightgreen);
}

.theme-dark {
    background-color: #0D2715;
    color: #C4FDC4;
    border-color: #537E3A !important;
}

.theme-medium {
    color: #537E3A;
}

.theme-light-accent-1 {
    color: #5adbff;
}

.theme-light-accent-2 {
    color: #fff;
}

.theme-light-accent-3 {
    color: #FF85D4;
}

.theme-text-light {
    color: #C4FDC4 !important;
}

.theme-text-medium {
    color: #264E24 !important;
}

.theme-text-dark {
    color: #0D2715 !important;
}

.myrow {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.navbar-toggler{
    border: 1px solid #C4FDC4 !important;
}

.my-image-container {
    overflow: hidden; 
    /* display: flex;  */
    /* justify-content: center; 
    align-items: center */
}

.my-image-fluid {
    object-fit: cover; 
    object-position: center; 
    height: 100%; width:100%
}

.feature-image-container {
    max-width: 500px;
    max-height: 500px;
    justify-content: right;
}

.feature-text {
    padding-bottom: 1rem;
}