.theme-dark {
    background-color: #163121;
    color: #C4FDC4;
}

.theme-medium {
    color: #537E3A;
}

.theme-text-light {
    color: #C4FDC4 !important;
}

.theme-text-medium {
    color: #537E3A !important;
}

.theme-text-dark {
    color: #163121 !important;
}

.myrow {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}