body {
  background-color: #EEFCE6; /* Use a color name, hex code, RGB, or HSL value */
}

p {
  font-family: "Outfit", sans-serif;
}

body {
  font-family: "Outfit", sans-serif;
}

ul {
  list-style-type: none; /* Removes bullets for unordered lists */
}